@charset "utf-8";
/* CSS Document */

/*公共*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, .menu, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-size:12px ;
	font: inherit;
	vertical-align: baseline;
	font-family: arial,"Lantinghei SC","Microsoft Yahei";
}*/
/* HTML5 display-role reset for older browsers */
article, .menu, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

ul, li, ol {
    list-style: none;
}

dl, dd {
    margin: auto;
}


/*html{width:100%;
	 height:100%;
	-ms-text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
}*/
/*text-size-adjust不管屏幕怎么变文字大小不变*/

/*body{margin:0;
	 padding:0;
	 width:100%;
	 font-size:12px;
	 font-family: arial,"Lantinghei SC","Microsoft Yahei";	
	 background: #F5F8FA  none repeat scroll 0% 0%;
}*/


a:link, a:visited {
    text-decoration: none;
    outline: none;
    color: #000;
}
/*所有超链接不要下划线*/
* {
    padding: 0;
    margin: 0;
}

    ； *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
/*任何标签、包括它前面、后面生成的内容都不要影响盒子的边框*/
.am-form textarea, .am-form select, .am-form textarea, .am-form input[type="text"], .am-form input[type="password"], .am-form input[type="datetime"], .am-form input[type="datetime-local"], .am-form input[type="date"], .am-form input[type="month"], .am-form input[type="time"], .am-form input[type="week"], .am-form input[type="tel"], .am-form input[type="email"], .am-form input[type="url"], .am-form input[type="search"], .am-form input[type="tel"], .am-form input[type="color"], .am-form-field, .am-btn {
    font-size: 14px;
}

.clear {
    clear: both;
}

header {
    display: none;
}

/*选项卡样式定义*/
.am-nav-tabs, .am-tabs-bd {
    border-color: transparent;
}

    .am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:hover, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li > a:hover {
        color: #555555;
        background: none;
        border-color: transparent;
        cursor: default;
    }

    .am-nav-tabs > li > a {
        margin-right: 0px;
    }

    .am-nav-tabs > li.am-active {
        border-bottom: 2px solid #F03726;
    }

.am-tabs-d2 .am-tabs-nav li {
    max-width: 216px;
}
/*选项卡样式*/
.am-nav-tabs > li {
    cursor: pointer;
}

    .am-nav-tabs > li > a {
        padding: 0px 2px;
        margin: 0px 0px;
        text-align: center;
    }

.nav-table {
    display: none;
}
/*主体部分*/
/*.center {
    width: 100%;
    margin: 0px auto;
    min-height: 1px;
    overflow: hidden;
}*/

.menu, .wrap-right, .m-logistics, .you-like {
    display: none;
}

.col-main {
    padding-bottom: 50px;
}
/*标题*/
.am-text-lg {
    font-size: 18px;
}

.am-padding {
    padding: 0px 10px;
}

    .am-padding small {
        width: 50%;
    }

hr {
    margin: 5px 0px;
}

/*表单布局*/
.am-form-label {
    width: 50px;
    float: left;
    text-align: right;
}

.am-form-content {
    margin-left: 65px;
}

.col-main {
    padding-top: 10px;
    background-color: #fff;
}

/*博客*/
.bloglist .am-u-md-9 {
    background: #fff;
}

.blog-main {
    max-width: 760px;
    margin: 0px auto;
}

.blog-sidebar {
    padding: 0px 0px;
}

.blog-list li {
    border: none;
}

    .blog-list li p {
        white-space: nowrap; /* 不换行 */
        overflow: hidden;
        text-overflow: ellipsis;
    }

.am-panel-hd {
    font-size: 18px;
    padding: 1rem 1rem;
}

.blog-title a {
    font-size: 20px;
    margin: 10px auto;
}

.blog-meta {
    font-size: 14px;
    text-align: right;
}

.blog-content p {
    font-size: 14px;
    line-height: 24px;
    text-indent: 2em;
}

.blog-content .Row li {
    width: 33.33%;
    float: left;
    padding: 5px;
}

.blog-content img {
    width: 100%;
}

.blog-tit p {
    color: rgb(89, 89, 89);
    text-indent: 0em;
    margin-top: 10px;
}

    .blog-tit p span {
        font-family: Microsoft YaHei !important;
        color: rgb(192, 0, 0);
        font-size: 18px;
    }
/*底部*/

.footer {
    display: none;
    text-align: center;
    border-top: 2px solid #F8F8F8 margin-top:20px;
    padding-top: 5px;
}

.main-wrap {
    background-color: #fff;
}

@media only screen and (min-width:640px) {


    /*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, .menu, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
font-size:14px ;
}	*/





    /*搜索框*/
    /*.search-bar {height: 51px;margin: 0px 50px 0 120px; padding-left:5%;}
.search-bar form{border:2px solid #F03726; max-width:670px;}
.search-bar input{padding-left:5px;width: 80%;height:46px;outline:none; font-size:12px; border:none}
#ai-topsearch { width:20%;height:46px;border: 0px none;float:right;background: #F03726 none repeat scroll 0% 0%;
color: #F5F5F2;font-size: 14px;cursor:pointer;}*/


    /*固定框架*/
    .center {
        width: 96%;
        max-width: 1000px;
        margin: 0px auto;
        min-height: 1px;
        margin-top: 15px;
    }

    /*表单布局*/
    .am-form-label {
        width: 100px;
        float: left;
    }

    .am-form-content {
        margin-left: 85px;
    }

    /*侧边栏*/
    .menu {
        display: block;
        width: 130px;
        float: left;
        margin-left: -100%;
        padding-top: 10px;
    }

        .menu ul {
            margin-left: 10px;
            margin-right: -10px;
            padding: 0px 8px;
            font-size: 14px;
            background: #fff;
            border-top: 5px solid #FEC4D7;
        }

        .menu a {
            display: block;
            overflow: hidden;
            text-decoration: none;
            line-height: 28px;
            color: #000;
            height: 28px;
        }

        .menu ul li {
            text-align: center;
        }

            .menu ul li.active a {
                color: #F69;
            }

    li.person {
        border-bottom: 1px solid #F5F8FA;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .person ul {
        padding-left: 6px;
        border: none;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px auto;
        font-size: 12px;
    }

        .person ul li a {
            color: #666;
        }
    /*主题*/
    .col-main {
        float: left;
        width: 100%;
        min-height: 1px;
        background: none;
        padding-bottom: 0px;
    }

    .main-wrap {
        position: relative;
        margin-left: 150px;
        overflow: hidden;
        min-height: 585px;
        background-color: #fff;
    }

    .am-fl.am-cf small {
        width: auto;
    }

    .am-padding {
        margin: 20px 0px;
    }

    .am-text-danger {
        color: #000;
    }
    /*底部*/
    .footer {
        text-align: left;
       \"left\":0,\"top\":0,\"right\":0,\"bottom\":0}},{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Laptop with HiDPI screen\",\"type\":\"notebook\",\"user-agent\":\"\",\"capabilities\":[],\"screen\":{\"device-pixel-ratio\":2,\"vertical\":{\"width\":900,\"height\":1440},\"horizontal\":{\"width\":1440,\"height\":900}},\"modes\":[{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Laptop with touch\",\"type\":\"notebook\",\"user-agent\":\"\",\"capabilities\":[\"touch\"],\"screen\":{\"device-pixel-ratio\":1,\"vertical\":{\"width\":950,\"height\":1280},\"horizontal\":{\"width\":1280,\"height\":950}},\"modes\":[{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"BlackBerry Z30\",\"type\":\"phone\",\"user-agent\":\"Mozilla/5.0 (BB10; Touch) AppleWebKit/537.10+ (KHTML, like Gecko) Version/10.0.9.2372 Mobile Safari/537.10+\",\"capabilities\":[\"touch\",\"mobile\"],\"screen\":{\"device-pixel-ratio\":2,\"vertical\":{\"width\":360,\"height\":640},\"horizontal\":{\"width\":640,\"height\":360}},\"modes\":[{\"title\":\"default\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}},{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Nexus 4\",\"type\":\"phone\",\"user-agent\":\"Mozilla/5.0 (Linux; Android 4.4.2; Nexus 4 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.23 Mobile Safari/537.36\",\"capabilities\":[\"touch\",\"mobile\"],\"screen\":{\"device-pixel-ratio\":2,\"vertical\":{\"width\":384,\"height\":640},\"horizontal\":{\"width\":640,\"height\":384}},\"modes\":[{\"title\":\"default\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}},{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Nexus 5\",\"type\":\"phone\",\"user-agent\":\"Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.23 Mobile Safari/537.36\",\"capabilities\":[\"touch\",\"mobile\"],\"screen\":{\"device-pixel-ratio\":3,\"vertical\":{\"width\":360,\"height\":640},\"horizontal\":{\"width\":640,\"height\":360}},\"modes\":[{\"title\":\"default\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":25,\"right\":0,\"bottom\":48},\"image\":\"@url(google-nexus-5-vertical-default-1x.png) 1x, @url(google-nexus-5-vertical-default-2x.png) 2x\"},{\"title\":\"navigation bar\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":80,\"right\":0,\"bottom\":48},\"image\":\"@url(google-nexus-5-vertical-navigation-1x.png) 1x, @url(google-nexus-5-vertical-navigation-2x.png) 2x\"},{\"title\":\"keyboard\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":80,\"right\":0,\"bottom\":312},\"image\":\"@url(google-nexus-5-vertical-keyboard-1x.png) 1x, @url(google-nexus-5-vertical-keyboard-2x.png) 2x\"},{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":25,\"right\":42,\"bottom\":0},\"image\":\"@url(google-nexus-5-horizontal-default-1x.png) 1x, @url(google-nexus-5-horizontal-default-2x.png) 2x\"},{\"title\":\"navigation bar\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":80,\"right\":42,\"bottom\":0},\"image\":\"@url(google-nexus-5-horizontal-navigation-1x.png) 1x, @url(google-nexus-5-horizontal-navigation-2x.png) 2x\"},{\"title\":\"keyboard\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":80,\"right\":42,\"bottom\":202},\"image\":\"@url(google-nexus-5-horizontal-keyboard-1x.png) 1x, @url(google-nexus-5-horizontal-keyboard-2x.png) 2x\"}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Galaxy Note II\",\"type\":\"phone\",\"user-agent\":\"Mozilla/5.0 (Linux; U; Android 4.1; en-us; GT-N7100 Build/JRO03C) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30\",\"capabilities\":[\"touch\",\"mobile\"],\"screen\":{\"device-pixel-ratio\":2,\"vertical\":{\"width\":360,\"height\":640},\"horizontal\":{\"width\":640,\"height\":360}},\"modes\":[{\"title\":\"default\",\"orientation\":\"vertical\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}},{\"title\":\"default\",\"orientation\":\"horizontal\",\"insets\":{\"left\":0,\"top\":0,\"right\":0,\"bottom\":0}}],\"show-by-default\":false,\"show\":\"Default\"},{\"title\":\"Nexus 6\",\"type\":\"phone\",\"user-agent\":\"Mozilla/5.0 (Linux; Android 5.1.1; Nexus 6 Build/LYZ28E) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.23 Mobile Safari/537.36\",\"capabilities\":[\"touch\",\"mobile\"],\"screen\":{\"device-pixel-ratio\":3.5,\